* {
    box-sizing: border-box;
}

/* body */
body {
    background: lightblue; 
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    padding: 2em;
}

/* header */
header {
    background-color: hsl(207, 44%, 49%);
    color: black;
    color: color(srgb 0 0 0);
    padding: 10px;
    text-align: center;
    width: 92vw;
    justify-content: center;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;

    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
    border-radius: 10px;
}

h2 {
    background-color: #6699cc;
    background-color: color-mix(in srgb, white 30%, blue 70%);
    margin: 10px 20px 15px 25px;
}

h1, h2 {
    font-family: 'Roboto Mono', monospace;
}

section {
    margin: 30px auto 20px auto;
    padding: 20px 15px 10px 15px;
    border: 2px dashed darkgreen;
    border-radius: 8px;
    height: auto;
    max-width: 100%;
    min-width: auto;
}

nav:hover {
    color: white
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

#attendance {
    background-color: #1cdac0;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    border-style: dotted;
    border-color: white;
    border-width: 3px;
}

#attendance ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

#hidden-note {
    display: none;
    position: absolute;
}

#form {
    display: inline-block;
    position: relative
}

#button:active {
    background-color: blue;
}

@media screen and (max-width: 600px) {
    body {
        background: lavender;
        font-size: 0.9rem;
        padding: 1em;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 20px;
    }

    video,
    img {
        width: 100%;
    }
}

input[type="radio"] {
    margin-right: 10px;
}

fieldset > label {
    font-weight: bold;
}

h2~p {
    background-color: #eee;
}

h3+nav {
    margin-top: 15px;
}

p.special {
    font-style: italic;
    color: green;
}

section:has(ul) {
    border-color: purple;
}

#agenda {
    h2 {
        padding-left: 0;
    }
}